<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5">
  <welcome-file-list>
    <welcome-file>/nanopay/src/net/nanopay/index.html</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>nanos</servlet-name>
    <servlet-class>foam.nanos.tomcat.TomcatRouter</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>nanos</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>merchant</servlet-name>
    <servlet-class>foam.nanos.tomcat.SubdomainRouter</servlet-class>

    <init-param>
      <param-name>path</param-name>
      <param-value>/merchant/src/net/nanopay/merchant/index.html</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>merchant</servlet-name>
    <url-pattern>/pos</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/nanopay/src/net/nanopay/error.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/nanopay/src/net/nanopay/error.html</location>
  </error-page>
</web-app>
