body {
  font-family: 'Roboto';
  color: #FFFFFF;
  background-color: #2c4389;
  margin: 0;
  min-width: 320px;
  min-height: 480px;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #ffffff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}