p({
  "class":"foam.nanos.ruler.Rule",
  "id":"f1dad168-dc4f-4bd9-a739-540977b871eb",
  "name":"Ticket History Rule",
  "priority":100,
  "ruleGroup":"Ticket",
  "documentation":"Sets rule history on ticket assignment change",
  "daoKey":"localTicketDAO",
  "operation":3,
  "action":{
    "class":"foam.nanos.ticket.TicketHistoryRule"
  },
  "predicate": {
    "class": "foam.nanos.ruler.predicate.PropertyChangePredicate",
    "propName": "assignedTo"
  },
  "after":false,
  "enabled":true,
  "lifecycleState":1
})
