[Unit]
Description=Nanopay Platform
After=network.target
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/nanopay/bin/run.sh -Z0
User=nanopay
Group=nanopay

[Install]
WantedBy=multi-user.target
Alias=nanopay.service