body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #373a3c;
  background: #edf0f5;
  margin: 0;
  height: 100%;
}

.foam-u2-Tabs {
  margin-left: 16px;
  margin-right: 16px;
}

.foam-u2-Tabs-content {
  padding: 8px !important;
  background: rgb(250, 250, 250) !important;
}

.foam-u2-Tabs-tab {
  background: rgb(250, 250, 250) !important;
}

.foam-u2-TableView thead tr {
  font-size: 16px;
  height: 48px;
  font-family: sans-serif;
  font-weight: 500;
  border-bottom: 1px solid rgb(242, 242, 242);
  color: rgb(138, 138, 138);
  background: rgb(240,240,240);
}

.foam-u2-view-TableView thead tr {
  font-size: 16px;
  height: 48px;
  font-family: sans-serif;
  font-weight: 500;
  border-bottom: 1px solid rgb(242, 242, 242);
  color: rgb(138, 138, 138);
  background: rgb(240,240,240);
}

button {
  width: 136px;
  height: 40px;
  border-radius: 2px;
  background-color: #5e91cb;
  color: #ffffff;
  font-weight: 300;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  margin: 4px;
  padding: 10px;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}

.net-nanopay-admin-ActionButton{
  margin: 0 2px 0;
}

thead > tr > td {
  font-family: 'Roboto';
  font-size: 14px;
  background: rgba(94, 145, 203, 0.4);
  color: #14375d;
  line-height: 1.14;
  letter-spacing: 0.3px;
  border-spacing: 0;
  text-align: left;
  padding-left: 15px;
}

tbody > tr > td {
  font-size: 12px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #14375d;
  padding-left: 15px;
}

.foam-u2-view-TableView th {
  padding-left: 15px;
}
tbody > tr {
  height: 60px;
  background-color: #f6f9f9;
  border: solid 0.5px #f1f1f1;
}

tbody > tr:nth-child(odd) {
  background: #ffffff;
  border: solid 0.5px #e9e9e9;
}

.foam-u2-view-TableView-selected {
  background: #eee;
  outline: 1px solid #5e91cb !important;
}

.recievable-status > span {
  width: 10px;
  height: 10px;
  float: left;
  border-radius: 50%;
  position: relative;
  top: -1;
  right: 10;
  font-weight: bold;
}

.foam-u2-search-TextSearchView input {
  width: 340px;
  font-size: 10pt;
  padding: 3px;
}
.foam-u2-search-GroupBySearchView select {
  font-family: monospace;
  font-size: 10pt;
  width: 340px;
}

.foam-u2-view-TableView-net-nanopay-admin-Invoice > tbody > tr {
  height: 40px;
}

.foam-u2-view-ReciprocalSearch-filter-header {
  font-size: 20px;
  color: gray;
}

.foam-u2-view-ReciprocalSearch-filter {
  margin-bottom: 8px;
}

.Invoice-Status-Disputed  {
  border-radius: 30px;
  padding: 3px 7px;
  display: inline;
  color: #c82e2e;
  background: white;
  border: 1px solid #c82e2e;
}

.Invoice-Status-New  {
  border-radius: 30px;
  padding: 3px 7px;
  display: inline;
  color: #262626;
  background: white;
  border: 1px solid #262626;
}

.Invoice-Status-Overdue {
  border-radius: 30px;
  padding: 3px 7px;
  display: inline;
  background: #c82e2e;
  color: white;
}

.Invoice-Status-Due {
  border-radius: 30px;
  padding: 3px 7px;
  display: inline;
  background: #5E91CB;
  color: white;
}

.Invoice-Status-Paid {
  border-radius: 30px;
  padding: 3px 7px;
  display: inline;
  background: #20b020;
  color: white;
}

.Invoice-Status-Scheduled {
  border-radius: 30px;
  padding: 3px 7px;
  display: inline;
  color: #20b020;
  border: 1px solid #20b020;
  background: white;
}

.Invoice-Status-Pending-Approval {
  border-radius: 30px;
  padding: 3px 7px;
  display: inline;
  color: #14375d;
  border: 1px solid #14375d;
  background: white;
}

.Invoice-Status-Draft {
  color: #666666;
}

.foam-comics-BrowserView-net-nanopay-admin-model-Invoice .foam-u2-ActionView-create {
  display: none;
}

.foam-comics-BrowserView-net-nanopay-admin-model-Invoice .foam-u2-ActionView-edit {
  display: none;
}

.foam-comics-BrowserView-net-nanopay-admin-model-Invoice tbody tr {
  height: 40px;
}

.foam-u2-view-TableView-th-id  {width: 80px; min-width: 80px; }
.foam-u2-view-TableView-th-invoiceNumber  {width: 80px; min-width: 80px; }
.foam-u2-view-TableView-th-purchaseOrder  { width: 80px; min-width: 80px; }
.foam-u2-view-TableView-th-fromBusinessName { width: 180px; min-width: 180px; }
.foam-u2-view-TableView-th-toBusinessName   { width: 180px; min-width: 180px; }
.foam-u2-view-TableView-th-fromBusinessId { width: 180px; min-width: 180px; }
.foam-u2-view-TableView-th-toBusinessId   { width: 180px; min-width: 180px; }
.foam-u2-view-TableView-th-issueDate      { width: 90px; min-width: 90px; }
.foam-u2-view-TableView-th-amount         { width: 90px; min-width: 90px; padding-right:20px; text-align: right !important; }
.foam-u2-view-TableView-th-status         { width: 200px; min-width: 200px; }

/*    Pop Up View Styling    */
.Change-Container {
  background-color: #14375d;
}
